/* Son of Suckerfish Dropdowns By Patrick Griffiths and Dan Webb.*/
#QS_menulist, #QS_menulist ul { /* all lists */
padding: 0;
margin: 0;
list-style: none;
}
#QS_menulist li a {
display: block;
padding-left: 5px;
padding-right: 5px;
border: 1px solid #B2C5B2;
background-color: #EDEEDE;
COLOR: #880000;
font-size: 0.9em;
line-height: 25px;
}
#QS_menulist li a:hover
{
background: #880000;
COLOR: #FFFFFF;
border: 1px solid #AB9696;
}
#QS_menulist a.subcontainer {
background-image: url(/fixedImages/pijltjedown.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}
#QS_menulist a.subcontainer:hover {
background-image: url(/fixedImages/pijltjeoverdown.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}
#QS_menulist li { /* all list items */
float: right;
text-align: right;
z-index: 1;
}
#QS_menulist li ul { /* second-level lists */
position: absolute;	
width: 1em;
display:none;
margin-right: 0px;  /*  change - lc */z-index: 2;
}
* html #QS_menulist li ul { /*  add- lc */ margin-right: -170px;}
#QS_menulist li ul  a.subcontainer {
background-image: url(/fixedImages/pijltjeRTL.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}#QS_menulist li ul  a.subcontainer:hover {
background-image: url(/fixedImages/pijltjeoverRTL.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}
#QS_menulist li ul li{ /* second-level lists */
width: 170px;
}
#QS_menulist li ul li a{ /* set width IE 6 - lc */
width: 170px;
}
@media all and (min-width: 0px){#QS_menulist li ul li ul{margin-left : -170px;   /*  Opera-only hack - lc */}}
* html #QS_menulist li ul li ul{ /*  IE7 hack - lc */ margin-right: 170px;}
#QS_menulist li ul ul { /* third-and-above-level lists */
display:none;
margin-top: -27px;
margin-right: 0;
margin-bottom: 0;
margin-right: 170px;
}
#QS_menulist li:hover ul ul, #QS_menulist li:hover ul ul ul,#QS_menulist li:hover ul ul ul ul, #QS_menulist li.sfhover ul ul, #QS_menulist li.sfhover ul ul ul, #QS_menulist li.sfhover ul ul ul ul {
display:none;
}
#QS_menulist li:hover ul, #QS_menulist li li:hover ul, #QS_menulist li li li:hover ul, #QS_menulist li li li li:hover ul, #QS_menulist li.sfhover ul, #QS_menulist li li.sfhover ul, #QS_menulist li li li.sfhover ul, #QS_menulist li li li li.sfhover ul { /* lists nested under hovered list items */
display:block;
}


/* Son of Suckerfish Dropdowns By Patrick Griffiths and Dan Webb.*/
#QS_intranetmenulist, #QS_intranetmenulist ul { /* all lists */
padding: 0;
margin: 0;
list-style: none;
}
#QS_intranetmenulist li a {
display: block;
padding-left: 5px;
padding-right: 5px;
border: 1px solid #B2C5B2;
background-color: #EDEEDE;
COLOR: #880000;
font-size: 0.9em;
line-height: 25px;
}
#QS_intranetmenulist li a:hover
{
background: #880000;
COLOR: #FFFFFF;
border: 1px solid #AB9696;
}
#QS_intranetmenulist a.subcontainer {
background-image: url(/fixedImages/pijltjedown.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}
#QS_intranetmenulist a.subcontainer:hover {
background-image: url(/fixedImages/pijltjeoverdown.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}
#QS_intranetmenulist li { /* all list items */
float: right;
text-align: right;
z-index: 1;
}
#QS_intranetmenulist li ul { /* second-level lists */
position: absolute;	
width: 1em;
display:none;
margin-right: 0px;  /*  change - lc */z-index: 2;
}
* html #QS_menulist li ul { /*  add- lc */ margin-right: -170px;}
#QS_intranetmenulist li ul  a.subcontainer {
background-image: url(/fixedImages/pijltjeRTL.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}#QS_intranetmenulist li ul  a.subcontainer:hover {
background-image: url(/fixedImages/pijltjeoverRTL.gif);
background-repeat: no-repeat;
background-position: left center;
padding-left: 18px;
}
#QS_intranetmenulist li ul li{ /* second-level lists */
width: 170px;
}
#QS_intranetmenulist li ul li a{ /* set width IE 6 - lc */
width: 170px;
}
@media all and (min-width: 0px){#QS_intranetmenulist li ul li ul{margin-left : -170px;   /*  Opera-only hack - lc */}}
* html #QS_intranetmenulist li ul li ul{ /*  IE7 hack - lc */ margin-right: 170px;}
#QS_intranetmenulist li ul ul { /* third-and-above-level lists */
display:none;
margin-top: -27px;
margin-right: 0;
margin-bottom: 0;
margin-right: 170px;
}
#QS_intranetmenulist li:hover ul ul, #QS_intranetmenulist li:hover ul ul ul,#QS_intranetmenulist li:hover ul ul ul ul, #QS_intranetmenulist li.sfhover ul ul, #QS_intranetmenulist li.sfhover ul ul ul, #QS_intranetmenulist li.sfhover ul ul ul ul {
display:none;
}
#QS_intranetmenulist li:hover ul, #QS_intranetmenulist li li:hover ul, #QS_intranetmenulist li li li:hover ul, #QS_intranetmenulist li li li li:hover ul, #QS_intranetmenulist li.sfhover ul, #QS_intranetmenulist li li.sfhover ul, #QS_intranetmenulist li li li.sfhover ul, #QS_intranetmenulist li li li li.sfhover ul { /* lists nested under hovered list items */
display:block;
}