.qsrow {
  display: flex; 
}

/* Create four equal columns that sits next to each other */
.qscolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.qscolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .qscolumn {
    flex: 100% !important;
    max-width: 100% !important;	
  }
}
