/* Son of Suckerfish Dropdowns By Patrick Griffiths and Dan Webb.*/
#QS_menulist, #QS_menulist ul {
padding: 0;
list-style: none;
float : left;
width : 160px;
margin-bottom:12px;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
background: #F4F4F4;
border: 1px solid #7D9693;
}
#QS_menulist li a {
display: block;
width: 148px;
padding-top: 0px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 0px;
border: 1px solid #F4F4F4;
COLOR: #C90404;
}
* html #QS_menulist li a {width: 158px;}
#QS_menulist li a:hover
{
background: #7D9693;
COLOR: #FFFFFF;
width: 148px;
border: 1px solid #7D9693;
}
* html #QS_menulist li a:hover {width: 158px;}
#QS_menulist a.subcontainer {
background-image: url(/fixedImages/pijltje.gif);
background-repeat: no-repeat;
background-position: right center;
}
#QS_menulist a.subcontainer:hover {
background-image: url(/fixedImages/pijltjeover.gif);
background-repeat: no-repeat;
background-position: right center;
}
#QS_menulist li { /* all list items */
position : relative;
float: left;
line-height : 1.75em;
text-align:left;z-index: 1;
}
#QS_menulist li ul { /* second-level lists */
position: absolute;	
margin-left : 160px;
left: -999em;
margin-top : -1.95em;}
* html #QS_menulist li ul { margin-left : 158px; }
#QS_menulist li ul ul { /* third-and-above-level lists */
left: -999em;
margin-top : -1.95em;
}
#QS_menulist li:hover ul ul, #QS_menulist li:hover ul ul ul,#QS_menulist li:hover ul ul ul ul, #QS_menulist li.sfhover ul ul, #QS_menulist li.sfhover ul ul ul, #QS_menulist li.sfhover ul ul ul ul {
left: -999em;
}
#QS_menulist li:hover ul, #QS_menulist li li:hover ul, #QS_menulist li li li:hover ul, #QS_menulist li li li li:hover ul, #QS_menulist li.sfhover ul, #QS_menulist li li.sfhover ul, #QS_menulist li li li.sfhover ul, #QS_menulist li li li li.sfhover ul { /* lists nested under hovered list items */
left: auto;
}


/* Son of Suckerfish Dropdowns By Patrick Griffiths and Dan Webb.*/
#QS_intranetmenulist, #QS_intranetmenulist ul {
padding: 0;
list-style: none;
float : left;
width : 160px;
margin-bottom:12px;
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
background: #F4F4F4;
border: 1px solid #7D9693;
}
#QS_intranetmenulist li a {
display: block;
width: 148px;
padding-top: 0px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 0px;
border: 1px solid #F4F4F4;
COLOR: #C90404;
}
* html #QS_intranetmenulist li a {width: 158px;}
#QS_intranetmenulist li a:hover
{
background: #7D9693;
COLOR: #FFFFFF;
width: 148px;
border: 1px solid #7D9693;
}
* html #QS_intranetmenulist li a:hover {width: 158px;}
#QS_intranetmenulist a.subcontainer {
background-image: url(/fixedImages/pijltje.gif);
background-repeat: no-repeat;
background-position: right center;
}
#QS_intranetmenulist a.subcontainer:hover {
background-image: url(/fixedImages/pijltjeover.gif);
background-repeat: no-repeat;
background-position: right center;
}
#QS_intranetmenulist li { /* all list items */
position : relative;
float: left;
line-height : 1.75em;
text-align:left;z-index: 1;
}
#QS_intranetmenulist li ul { /* second-level lists */
position: absolute;	
margin-left : 160px;
left: -999em;
margin-top : -1.95em;}
* html #QS_intranetmenulist li ul { margin-left : 158px; }
#QS_intranetmenulist li ul ul { /* third-and-above-level lists */
left: -999em;
margin-top : -1.95em;
}
#QS_intranetmenulist li:hover ul ul, #QS_intranetmenulist li:hover ul ul ul,#QS_intranetmenulist li:hover ul ul ul ul, #QS_intranetmenulist li.sfhover ul ul, #QS_intranetmenulist li.sfhover ul ul ul, #QS_intranetmenulist li.sfhover ul ul ul ul {
left: -999em;
}
#QS_intranetmenulist li:hover ul, #QS_intranetmenulist li li:hover ul, #QS_intranetmenulist li li li:hover ul, #QS_intranetmenulist li li li li:hover ul, #QS_intranetmenulist li.sfhover ul, #QS_intranetmenulist li li.sfhover ul, #QS_intranetmenulist li li li.sfhover ul, #QS_intranetmenulist li li li li.sfhover ul { /* lists nested under hovered list items */
left: auto;
}