<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <!--
    Created by Artisteer v3.0.0.32906
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Artisteer </title>

    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" /><![endif]-->

    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<div id="art-page-background-glare">
        <div id="art-page-background-glare-image">
    <div id="art-main">
        <div class="art-sheet">
            <div class="art-sheet-body">
                <div class="art-nav">
                	<ul class="art-menu">
                		<li>
                			<a href="#" class="active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
                		</li>
                		<li>
                			<a href="#"><span class="l"></span><span class="r"></span><span class="t">Menu Item</span></a>
                			<ul>
                				<li><a href="#">Menu Subitem 1</a>
                					<ul>
                						<li><a href="#">Menu Subitem 1.1</a></li>
                						<li><a href="#">Menu Subitem 1.2</a></li>
                						<li><a href="#">Menu Subitem 1.3</a></li>
                					</ul>
                				</li>
                				<li><a href="#">Menu Subitem 2</a></li>
                				<li><a href="#">Menu Subitem 3</a></li>
                			</ul>
                		</li>		
                		<li>
                			<a href="#"><span class="l"></span><span class="r"></span><span class="t">About</span></a>
                		</li>
                	</ul>
                </div>
                <div class="art-header">
                    <div class="art-header-center">
                        <div class="art-header-png"></div>
                    </div>
                    <div class="art-logo">
                     <h1 id="name-text" class="art-logo-name"><a href="#">Headline</a></h1>
                     <h2 id="slogan-text" class="art-logo-text">Slogan text</h2>
                    </div>
                </div>
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content">
                          <div class="art-post">
                              <div class="art-post-tl"></div>
                              <div class="art-post-tr"></div>
                              <div class="art-post-bl"></div>
                              <div class="art-post-br"></div>
                              <div class="art-post-tc"></div>
                              <div class="art-post-bc"></div>
                              <div class="art-post-cl"></div>
                              <div class="art-post-cr"></div>
                              <div class="art-post-cc"></div>
                              <div class="art-post-body">
                          <div class="art-post-inner art-article">
                                          <h2 class="art-postheader">Welcome</h2>
                                          <div class="art-postcontent">
                                              
                                              <img class="art-article" src="images\preview.jpg" alt="an image" style="float:left;" />
                                              <p>Lorem ipsum dolor sit amet,
                                              <a href="#" title="link">link</a>, <a class="visited" href="#" title="visited link">visited link</a>,
                                               <a class="hover" href="#" title="hovered link">hovered link</a> consectetuer
                                              adipiscing elit. Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              velit semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl
                                              in quam. Etiam augue pede, molestie eget, rhoncus at, convallis ut, eros.</p>
                                              <p>
                                              	<span class="art-button-wrapper">
                                              		<span class="art-button-l"> </span>
                                              		<span class="art-button-r"> </span>
                                              		<a class="art-button" href="javascript:void(0)">Read more...</a>
                                              	</span>
                                              </p>
                                              <div class="cleared"></div>
                                              <div class="art-content-layout overview-table">
                                              	<div class="art-content-layout-row">
                                              		<div class="art-layout-cell">
                                                    <div class="overview-table-inner">
                                              	      <h4>Support</h4>
                                              						  <img src="images/01.png" width="55" height="55" alt="an image" class="image" />
                                              						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                              						  Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              						  velit semper laoreet dictum, quam diam dictum urna. </p>
                                                     </div>
                                              		</div><!-- end cell -->
                                              		<div class="art-layout-cell">
                                                  <div class="overview-table-inner">
                                              		  <h4>Development</h4>
                                              						  <img src="images/02.png" width="55" height="55" alt="an image" class="image" />
                                              						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                              						  Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              						  velit semper laoreet dictum, quam diam dictum urna. </p>
                                              				</div>
                                              		</div><!-- end cell -->
                                              		<div class="art-layout-cell">
                                                  <div class="overview-table-inner">
                                              		  <h4>Strategy</h4>
                                              
                                              						  <img src="images/03.png" width="55" height="55" alt="an image" class="image" />
                                              						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                              						  Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              						  velit semper laoreet dictum, quam diam dictum urna. </p>
                                                            </div>
                                              		</div><!-- end cell -->
                                              	</div><!-- end row -->
                                              </div><!-- end table -->
                                                  
                                          </div>
                                          <div class="cleared"></div>
                          </div>
                          
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="art-post">
                              <div class="art-post-tl"></div>
                              <div class="art-post-tr"></div>
                              <div class="art-post-bl"></div>
                              <div class="art-post-br"></div>
                              <div class="art-post-tc"></div>
                              <div class="art-post-bc"></div>
                              <div class="art-post-cl"></div>
                              <div class="art-post-cr"></div>
                              <div class="art-post-cc"></div>
                              <div class="art-post-body">
                          <div class="art-post-inner art-article">
                                          <h2 class="art-postheader">Text, <a href="#" rel="bookmark" title="Permanent Link to this Post">Link</a>, <a class="visited" href="#" rel="bookmark" title="Visited Hyperlink">Visited</a>, <a class="hovered" href="#" rel="bookmark" title="Hovered Hyperlink">Hovered</a></h2>
                                          <div class="art-postcontent">
                                              <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit, <a href="#" title="test link">test link</a>.
                                              	Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>.
                                              	Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.
                                              	Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
                                              	Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante.
                                              	Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
                                              	Morbi imperdiet augue quis tellus.  <abbr title="Avenue">AVE</abbr></p>
                                              
                                                <h1>Heading 1</h1>
                                                <h2>Heading 2</h2>
                                                <h3>Heading 3</h3>
                                                <h4>Heading 4</h4>
                                                <h5>Heading 5</h5>
                                                <h6>Heading 6</h6>
                                              
                                                  <blockquote>
                                                      <p>
                                                          &#8220;This stylesheet is going to help so freaking much.&#8221;
                                                          <br />
                                                          -Blockquote
                                                      </p>
                                                  </blockquote>
                                                <br />
                                                <table class="art-article" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <th>Header</th>
                                                    <th>Header</th>
                                                    <th>Header</th>
                                                  </tr>
                                                  <tr>
                                                    <td>Data</td>
                                                    <td>Data</td>
                                                    <td>Data</td>
                                                  </tr>
                                                  <tr class="even">
                                                    <td>Data</td>
                                                    <td>Data</td>
                                                    <td>Data</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Data</td>
                                                    <td>Data</td>
                                                    <td>Data</td>
                                                  </tr>
                                                </tbody></table>
                                              
                                              	<p>
                                              		<span class="art-button-wrapper">
                                              			<span class="art-button-l"> </span>
                                              			<span class="art-button-r"> </span>
                                              			<a class="art-button" href="javascript:void(0)">Join&nbsp;Now!</a>
                                              		</span>
                                              	</p>
                                                  
                                          </div>
                                          <div class="cleared"></div>
                          </div>
                          
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="cleared"></div>
                        </div>
                        <div class="art-layout-cell art-sidebar1">
                          <div class="art-vmenublock">
                              <div class="art-vmenublock-body">
                                          <div class="art-vmenublockheader">
                                              <div class="l"></div>
                                              <div class="r"></div>
                                              <h3 class="t">Navigation</h3>
                                          </div>
                                          <div class="art-vmenublockcontent">
                                              <div class="art-vmenublockcontent-tl"></div>
                                              <div class="art-vmenublockcontent-tr"></div>
                                              <div class="art-vmenublockcontent-bl"></div>
                                              <div class="art-vmenublockcontent-br"></div>
                                              <div class="art-vmenublockcontent-tc"></div>
                                              <div class="art-vmenublockcontent-bc"></div>
                                              <div class="art-vmenublockcontent-cl"></div>
                                              <div class="art-vmenublockcontent-cr"></div>
                                              <div class="art-vmenublockcontent-cc"></div>
                                              <div class="art-vmenublockcontent-body">
                                                          <ul class="art-vmenu">
                                                          	<li>
                                                          		<a href="page.html?i1"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
                                                          	</li>
                                                          	<li>
                                                          		<a href="page.html?i2"><span class="l"></span><span class="r"></span><span class="t">News</span></a>
                                                          				<ul>
                                                          			<li><a href="page.html?">Top 10</a></li>
                                                          		</ul>
                                                          	</li>
                                                          	<li class="active">
                                                          		<a class="active" href="page.html?i3"><span class="l"></span><span class="r"></span><span class="t">Menu Item</span></a>
                                                          		<ul class="active">
                                                          			<li><a href="page.html?i3s1">Subitem 1</a></li>
                                                          			<li><a href="page.html" class="active">Subitem 2</a></li>
                                                          			<li><a href="page.html?i3s3">Subitem 3</a></li>
                                                          		</ul>
                                                          	</li>
                                                          	<li>
                                                          		<a href="page.html?i4"><span class="l"></span><span class="r"></span><span class="t">Video</span></a>
                                                          	</li>
                                                          	<li>
                                                          		<a href="page.html?i5"><span class="l"></span><span class="r"></span><span class="t">Archive</span></a>
                                                          		<ul>
                                                          			<li><a href="page.html?i5s1">2008</a>
                                                          				<ul>
                                                          					<li><a href="page.html?i5s1s1">January</a></li>
                                                          					<li><a href="page.html?i5s1s2">February</a></li>
                                                          					<li><a href="page.html?i5s1s3">March</a></li>
                                                          				</ul>
                                                          			</li>
                                                          			<li><a href="page.html?i5s2">2007</a>
                                                          				<ul>
                                                          					<li><a href="page.html?i5s2s1">January</a></li>
                                                          					<li><a href="page.html?i5s2s2">February</a></li>
                                                          					<li><a href="page.html?i5s2s3">March</a></li>
                                                          				</ul>
                                                          			</li>
                                                          			<li><a href="page.html?i5s3">2006</a>
                                                          				<ul>
                                                          					<li><a href="page.html?i5s3s1">January</a></li>
                                                          					<li><a href="page.html?i5s3s2">February</a></li>
                                                          					<li><a href="page.html?i5s3s3">March</a></li>
                                                          				</ul>
                                                          			</li>
                                                          		</ul>
                                                          	</li>
                                                          	<li>
                                                          		<a href="page.html?i6"><span class="l"></span><span class="r"></span><span class="t">Forum</span></a>
                                                          	</li>
                                                          	<li>
                                                          		<a href="page.html?i7"><span class="l"></span><span class="r"></span><span class="t">About</span></a>
                                                          	</li>
                                                          	<li>
                                                          		<a href="page.html?i8"><span class="l"></span><span class="r"></span><span class="t">Contact</span></a>
                                                          	</li>
                                                          </ul>
                                          
                                          		<div class="cleared"></div>
                                              </div>
                                          </div>
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="art-block">
                              <div class="art-block-body">
                                          <div class="art-blockheader">
                                              <div class="l"></div>
                                              <div class="r"></div>
                                              <h3 class="t">Newsletter</h3>
                                          </div>
                                          <div class="art-blockcontent">
                                              <div class="art-blockcontent-tl"></div>
                                              <div class="art-blockcontent-tr"></div>
                                              <div class="art-blockcontent-bl"></div>
                                              <div class="art-blockcontent-br"></div>
                                              <div class="art-blockcontent-tc"></div>
                                              <div class="art-blockcontent-bc"></div>
                                              <div class="art-blockcontent-cl"></div>
                                              <div class="art-blockcontent-cr"></div>
                                              <div class="art-blockcontent-cc"></div>
                                              <div class="art-blockcontent-body">
                                                          <div><form method="get" id="newsletterform" action="javascript:void(0)">
                                                          <input type="text" value="" name="email" id="s" style="width: 95%;" />
                                                          <span class="art-button-wrapper">
                                                          	<span class="art-button-l"> </span>
                                                          	<span class="art-button-r"> </span>
                                                          	<input class="art-button" type="submit" name="search" value="Subscribe" />
                                                          </span>
                                                          
                                                          </form></div>
                                          
                                          		<div class="cleared"></div>
                                              </div>
                                          </div>
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="art-block">
                              <div class="art-block-body">
                                          <div class="art-blockheader">
                                              <div class="l"></div>
                                              <div class="r"></div>
                                              <h3 class="t">Highlights</h3>
                                          </div>
                                          <div class="art-blockcontent">
                                              <div class="art-blockcontent-tl"></div>
                                              <div class="art-blockcontent-tr"></div>
                                              <div class="art-blockcontent-bl"></div>
                                              <div class="art-blockcontent-br"></div>
                                              <div class="art-blockcontent-tc"></div>
                                              <div class="art-blockcontent-bc"></div>
                                              <div class="art-blockcontent-cl"></div>
                                              <div class="art-blockcontent-cr"></div>
                                              <div class="art-blockcontent-cc"></div>
                                              <div class="art-blockcontent-body">
                                                          <div>
                                                                            <ul>
                                                                             <li><a href="#">Home</a></li>
                                                                             <li><a href="#">Overview</a></li>
                                                                             <li><a href="#">Demo</a></li>
                                                                             <li><a href="#">Download</a></li>
                                                                             <li><a href="#">FAQ</a></li>
                                                                             <li><a href="#">Hyperlink</a></li>
                                                                             <li><a href="#" class="visited">Visited link</a></li>
                                                                             <li><a href="#" class="hover">Hovered link</a></li>
                                                                            </ul>
                                                                            
                                                                            <p><b>Jun 14, 2008</b><br />
                                                                            Aliquam sit amet felis. Mauris semper,
                                                                            velit semper laoreet dictum, quam
                                                                            diam dictum urna, nec placerat elit
                                                                            nisl in quam. Etiam augue pede,
                                                                            molestie eget, rhoncus at, convallis
                                                                            ut, eros. Aliquam pharetra.<br />
                                                                            <a href="javascript:void(0)">Read more...</a></p>
                                                          
                                                                            <p><b>Aug 24, 2008</b><br />
                                                                            Aliquam sit amet felis. Mauris semper,
                                                                            velit semper laoreet dictum, quam
                                                                            diam dictum urna, nec placerat elit
                                                                            nisl in quam. Etiam augue pede,
                                                                            molestie eget, rhoncus at, convallis
                                                                            ut, eros. Aliquam pharetra.<br />
                                                                            <a href="javascript:void(0)">Read more...</a></p>
                                                                            </div>
                                          
                                          		<div class="cleared"></div>
                                              </div>
                                          </div>
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="art-block">
                              <div class="art-block-body">
                                          <div class="art-blockheader">
                                              <div class="l"></div>
                                              <div class="r"></div>
                                              <h3 class="t">Contact Info</h3>
                                          </div>
                                          <div class="art-blockcontent">
                                              <div class="art-blockcontent-tl"></div>
                                              <div class="art-blockcontent-tr"></div>
                                              <div class="art-blockcontent-bl"></div>
                                              <div class="art-blockcontent-br"></div>
                                              <div class="art-blockcontent-tc"></div>
                                              <div class="art-blockcontent-bc"></div>
                                              <div class="art-blockcontent-cl"></div>
                                              <div class="art-blockcontent-cr"></div>
                                              <div class="art-blockcontent-cc"></div>
                                              <div class="art-blockcontent-body">
                                                          <div>
                                                                <img src="images/contact.jpg" alt="an image" style="margin: 0 auto;display:block;width:95%" />
                                                          <br />
                                                          <b>Company Co.</b><br />
                                                          Las Vegas, NV 12345<br />
                                                          Email: <a href="mailto:info@company.com">info@company.com</a><br />
                                                          <br />
                                                          Phone: (123) 456-7890 <br />
                                                          Fax: (123) 456-7890
                                                          </div>
                                          
                                          		<div class="cleared"></div>
                                              </div>
                                          </div>
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="cleared"></div>
                        </div>
                    </div>
                </div>
                <div class="cleared"></div>
                <div class="art-footer">
                    <div class="art-footer-body">
                        <div class="art-footer-text">
                            <p>Copyright &copy; 2010, Infiniti. All Rights Reserved.</p>
                        </div>
                		<div class="cleared"></div>
                    </div>
                </div>
        		<div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
        <p class="art-page-footer"><a href="http://www.artisteer.com/">Web Template</a> created with Artisteer.</p>
    </div>
        </div>
    </div>
    
    
    
    
    
</body>
</html>
